.security-question-text {
    font-size: 30px;
    font-weight: bold;
}

.security-question-description {
    font-size: 16px;
    color: grey;
    margin-bottom: 30px;
}

.new-password-page, .forgot-password-page {
    text-align: center;
}