
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div>
        {% from "_formhelpers.html" import render_field %}
        DO NOT USE THIS

        <form method="POST">
            <dl>
                {{ render_field(form.cartID) }}
                {{ render_field(form.modDateTime) }}
            </dl>
            <p><input type="submit" value="Submit">
        </p></form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Didn't mean to create a new cart? <a class="ml-2" href="{{ url_for('cart') }}">Go Back to Carts</a>
        </small>
    </div>
{% endblock content %}
