
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div>
        {% from "_formhelpers.html" import render_field %}

        <form method="POST">
            <dl>
                {{ render_field(form.rating) }}
                {{ render_field(form.headline) }}
                {{ render_field(form.commentary) }}
            </dl>
            <p><input type="submit" value="Submit">
        </p></form>
    </div>
{% endblock content %}
