
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div>
        {% from "_formhelpers.html" import render_field %}

        <form method="POST">
            {{ form.hidden_tag() }}
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}

                {% if user_type == 'buyer' %}
                    {{ render_field(form.balance) }}
                    {{ render_field(form.shippingAddress )}}
                    {{ render_field(form.billingAddress )}}
                    {{ render_field(form.photo )}}
                {% endif %}
            </dl>
            <p><input type="submit" value="Submit">
        </p></form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Changed your mind? <a class="ml-2" href="{{ url_for('chooseRegistration') }}">Go Back to Registration Choice</a>
        </small>
    </div>
{% endblock content %}
