

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="user-table-title">This is the table of test buyers.</div>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Balance</th>
            <th>Shipping Address</th>
            <th>Billing Address</th>
            <th>Photo</th>
        </thead>

        <tbody>
            {% for buyer in buyers %}
            <tr>
                <td> 
                        <a href="/buyer/{{buyer.buyerID}}">
                            {{buyer.name}}
                        </a>
                </td>
                <td> {{buyer.email}}</td>
                <td> {{buyer.balance}}</td>
                <td> {{buyer.shippingAddress}}</td>
                <td> {{buyer.billingAddress}}</td>
                <td> {{buyer.photo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}