<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="user-table-title">These are the items in {{curr_buyer.name}}'s cart (cartID: {{curr_cart.cartID}}).</div>
    <table>
        <thead>
            <th>Item ID</th>
            <th>Model Number</th>
            <th>Sold By</th>
        </thead>

        <tbody>
            {% for item, modelNum, userID in items %}
            <tr>
                <td>{{item}}</td>
                <td>{{modelNum}}</td>
                <td>{{userID}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <th>Model Number</th>
            <th>Sold By</th>
            <th>Quantity in Cart</th>
        </thead>

        <tbody>
            {% for modelNum, userID, quantity in products %}
            <tr>
                <td>{{modelNum}}</td>
                <td>{{userID}}</td>
                <td>{{quantity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{url_for('createOrder', cart_id=curr_cart.cartID)}}"
    method="POST" id="createOrder/{{curr_cart.cartID}}">
    </form>
    <button type="submit" form="createOrder/{{curr_cart.cartID}}">Create Order </button>
    <br><br>
{% endblock content %}