<head>
    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/forgot-password.css') }}">
</head>

<body>
<div class="forgot-password-page">
    {% from "_formhelpers.html" import render_field %}
    <form method="POST">
        <legend class="border-bottom mb-4">Forgot Password</legend>
        
        <div class="security-question-description">
            Please enter your email and answer the security question to reset your password.
        </div>

        <dl>
            {{ render_field(form.email)}}
            {{ render_field(form.securityQuestionAnswer)}}
        </dl>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
