<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/index.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="title-text">Welcome to our Mini Amazon store!</div>
    
    <div class="subtitle-text">Recommended Products</div>
    <div class="home-product-grid">
        {% for rec in recommended %}
        <div class="home-product-item">
            <div class="product-info">
                <!-- replace with correct image-->
                <img class="product-img" src="{{ url_for('static',filename='images/13MacBookPro.jpeg') }}">
                <br>
                <div>
                    <div class="seller-product-name">{{rec.productName}}</div>
                    <div class="seller-product-price">$ {{rec.price}}</div>
                    <a href="/product/{{rec.modelNum}}">View Product</a><br>
                    <a href="">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="subtitle-text">All Products</div>
    <div class="home-product-grid">
    {% for product in products %}
    <div class="home-product-item">
        <div class="product-info">
            <!-- replace with correct image-->
            <img class="product-img" src="{{ url_for('static',filename='images/13MacBookPro.jpeg') }}">
            <br>
            <div>
                <div class="seller-product-name">{{product.productName}}</div>
                <!-- rating? -->
                <div class="seller-product-desc">{{product.productDescription}}</div>
                <div class="seller-product-price">$ {{product.price}}</div>
                <a href="/product/{{product.modelNum}}">View Product</a><br>
                <a href="/cart/{{mycart.cartID}}">
                    <form action="{{url_for('updateCart', cart_id=mycart.cartID, model_num = product.modelNum, user_id = product.userID)}}"
                    method="POST" id="updatecart/{{product.modelNum}}/{{product.userID}}">
                    </form>
                    <button type="submit" form="updatecart/{{product.modelNum}}/{{product.userID}}">Add to Cart </button>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>


{% endblock content %}
