<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/layout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <ul class="nav-bar">
        <li class="nav-element" id="logo"><img src="{{ url_for('static',filename='/images/amazon-logo.png') }}" id="amazon-logo"></li>
        <li class="nav-element"><a href="/">Home</a></li>

        {% if current_user.type == 'buyer' %}
        <li class="nav-element"><a href="/buyer">Buyers</a></li>
        {% endif %}

        {% if current_user.type == 'seller' %}
        <li class="nav-element"><a href="/seller/{{ current_user.id}}">Seller Profile</a></li>
        {% endif %}

        <li class="nav-element"><a href="/product">Products</a></li>
        <li class="nav-element"><a href="/item">Items</a></li>
        <li class="nav-element"><a href="/category">Categories</a></li>
        
        <li class="nav-element"><a href="/cart">Carts</a></li>
        <li class="nav-element"><a href="/order">Orders</a></li>
        <li class="nav-element"><a href="/reviews">Reviews</a></li>
        
        {% from "_formhelpers.html" import render_field %}
        <li class="nav-element">
            <form method="POST">
                <dl>
                    {{render_field(form.search)}}
                </dl>
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
        
        {% if current_user.is_authenticated %}
            <li class="nav-element"><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
</body>
</html>