<head>
    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/log-in.css') }}">
</head>

<body>
    <div class="log-in-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="log-in-title">
            MINI AMAZON STORE
        </div>

        {% from "_formhelpers.html" import render_field %}
    
        <form method="POST" class="log-in-form">
            <div class="log-in-text">
                LOG IN
            </div>
            <fieldset class="form-group">
                <dl>
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                </dl>
            </fieldset>

            <div>
                <input type="submit" class="log-in-submit" value="Submit">
            </div>

            <small class="text-muted ml-2">
                <a href="/forgot-password">Forgot Password?</a>
            </small>
        </form>

        <small class="text-muted need-account-text">
            Need An Account? <a class="ml-2" href="{{ url_for('chooseRegistration') }}">Sign Up Now</a>
        </small>
    </div>
</body>