<head>
    <link href="https://fonts.googleapis.com/css?family=Avenir" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/forgot-password.css') }}">
</head>

<div class="new-password-page">
    {% from "_formhelpers.html" import render_field %}
    <form method="POST">
        <legend class="border-bottom mb-4">Choose New Password</legend>
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.newPassword)}}
            {{ render_field(form.reenterPassword)}}
        </dl>
        <input type="submit" value="Submit">
    </form>
</div>