<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="user-table-title">This is the table of {{current_user.name}}'s previous orders.</div>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Buyer ID</th>
            <th>Transaction Amount</th>
            <th>Delivery Option</th>
            <th>Created Date</th>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr>
                <td> 
                    <a href="/order/{{order.orderID}}">
                        {{order.orderID}}
                    </a>
                </td>
                <td> {{order.buyerID}}</td>
                <td> {{order.transacAmount}}</td>
                <td> {{order.deliveryOption}}</td>
                <td> {{order.createdDateTime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

