<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/reviews.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="reviews-table-title">This is the table of test reviews.</div>
    <table>
        <thead>
            <th>userID</th>
            <th>Model Number</th>
            <th>Headline</th>
            <th>Rating</th>
            <th>Commentary</th>
            <th>Date</th>
        </thead>

        <tbody>
            {% for review in reviews %}
            <tr>
                <td> {{review['userID']}} </td>
                <td> {{review['modelNum']}} </td>
                <td> {{review['headline']}} </td>
                <td> {{review['rating']}}</td>
                <td> {{review['commentary']}}</td>
                <td> {{review['dateReviewed']}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
{% endblock content %}
