
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="user-table-title">This is the table of test sellers.</div>
    <p>Click on a particular seller to see all the products they're selling.</p>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
        </thead>

        <tbody>
            {% for seller in sellers %}
            <tr>
                <td> 
                    <a href="/seller/{{seller.id}}">
                        {{seller.name}}
                    </a>
                </td>
                <td> {{seller.email}}</td>
                <td> {{seller.password}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}

