<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/specific-buyer.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="buyer-info-header">
        <div class="buyer-name">{{curr_buyer.name}}</div>
        <div class="buyer-email">{{curr_buyer.email}}</div>
        <div class="buyer-shippingAddress">{{curr_buyer.shippingAddress}}</div>
        <div class="buyer-billingAddress">{{curr_buyer.billingAddress}}</div>
        <td> 
                <a href="/buyer/addBalance">
                    <div class="buyer-balance">Current Balance: {{curr_buyer.balance}}</div>
                </a>
        </td>
        <p style="text-align:center;"><img src={{curr_buyer.photo}} height="25%" width="auto" border="1px"></p>


    <div class="user-table-title">Order History</div>
    <table>
        <thead>
            <th>Order ID</th>
            <th>Transaction Amount</th>
            <th>Delivery Option</th>
            <th>Created Date</th>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr>
                <td> 
                    <a href="/order/{{order.orderID}}">
                        {{order.orderID}}
                    </a>
                </td>
                <td> {{order.transacAmount}}</td>
                <td> {{order.deliveryOption}}</td>
                <td> {{order.createdDateTime}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
    