<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/user.css') }}">
</head>

{% extends "layout.html" %}
{% block content %}
    <div class="user-table-title">This is the table of test users.</div>
    <table>
        <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Type</th>
            <th>Date Joined</th>
            <th>Balance</th>
            <th>Shipping Address</th>
            <th>Billing Address</th>
            <th>Photo</th>
        </thead>

        <tbody>
            {% for user in users %}
            <tr>
                <td> {{user.name}}</td>
                <td> {{user.email}}</td>
                <td> {{user.password}}</td>
                <td> {{user.type}}</td>
                <td> {{user.dateJoined}}</td>
                <td> {{user.balance}}</td>
                <td> {{user.shippingAddress}}</td>
                <td> {{user.billingAddress}}</td>
                <td> {{user.photo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <a href="{{ url_for('addUser') }}"> Create an account </a>
{% endblock content %}
